{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Edit News {% endblock %}

{% block content %}
<div class="col-md-8 offset-2">
    <h1 class="text-center">Edit Post</h1>
    <form class="form-control p-3" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form|crispy }}
        <br>
        <input type="submit" value="Update Post" class="btn btn-success">
        <a href="{% url 'post_list' %}" class="btn btn-danger">Back</a>
    </form>
</div>
{% endblock %}