{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Add News {% endblock %}

{% block content %}
    <div class="col-md-8 offset-2">
        <h1 class="text-center">Add New Post</h1>
        <form class="form-control p-3" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form|crispy }}
            <br>
            <input type="submit" value="Add Post" class="btn btn-primary">
            <a href="{% url 'post_list' %}" class="btn btn-danger">Back</a>
        </form>
    </div>
{% endblock %}